.tasks-container {
    width: 100%;
    padding: 2rem;
    background-color: $color-primary;
    position: relative;
    
    @media only screen and (max-width: $bp-small) {
        min-height: calc(100vh - 10.1rem);
    }
}