.sort-tasks {
    position: absolute;
    top: 2px;
    right: 5rem;

    @media only screen and (max-width: $bp-small) {
        right: 2.5rem;
    }

    &:hover {
        cursor: pointer;
    }

    &__icon {
        font-size: 2rem;
        color: $color-tertiary;
    }
}