.task {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 2rem;
    background-color: $color-secondary;
    width: 25rem;
    position: relative;

    &__txt-wrap {
        max-width: 90%;
    }

    &__heading {
        color: $color-primary;
        font-size: 1.8rem;
    }

    &__info {
        color: $color-tertiary;
        font-size: 1.4rem;
        font-weight: 600;
        max-height: 30rem;
        overflow: hidden;
    }

    &__date {
        color: $color-primary;
        font-size: 1.4rem;
    }

    &__star {
        cursor: pointer;
        font-size: 1.6rem;
        padding-left: 2rem;

        &--important {
            color: $color-tertiary;
        }
    }

    &__btns {
        position: absolute;
        top: 6px;
        right: 6px;
        display: flex;
        gap: 6px;
    }

    &__btn-edit,
    &__btn-close,
    &__btn-del {
        cursor: pointer;
        font-size: 1.6rem;
    }

    &__btn-edit {
        color: $color-primary;
    }

    &__btn-close {
        color: $color-tertiary;
    }

    &__btn-del {
        color: $color-error;
    }
}