.task {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 2rem;
    background-color: $color-secondary;
    max-width: 25rem;
    position: relative;

    &__txt-wrap {}

    &__heading {
        color: $color-primary;
        font-size: 1.8rem;
    }

    &__info {
        color: $color-tertiary;
        font-size: 1.4rem;
        font-weight: 600;
    }

    &__date {}

    &__star {
        cursor: pointer;
        font-size: 1.6rem;

        &--important {
            color: $color-tertiary;
        }
    }

    &__btns {
        position: absolute;
        top: 6px;
        right: 6px;
        display: flex;
        gap: 6px;
    }

    &__btn-edit,
    &__btn-close {
        cursor: pointer;
        font-size: 1.8rem;
    }


    &__btn-edit {
        color: $color-primary;
    }

    &__btn-close {
        color: $color-tertiary;
    }

    &__icon {}
}