.user-options {

    &__list {
        height: calc(100vh - 6.4rem);
        background-color: $color-tertiary;
        list-style: none;
        display: grid;
        align-items: center;
        text-align: center;

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: repeat(4, 1fr);
            height: auto;
        }
    }

    &__option {
        color: $color-primary;
        padding: 2rem;
        font-size: 2rem;
        text-transform: uppercase;
        transition: 0.4s;
        cursor: pointer;

        @media only screen and (max-width: $bp-small) {
            padding: 1rem;
            font-size: 1.4rem;
        }

        &:hover,
        &--active,
        &--first {
            background-color: $color-primary;
            color: $color-tertiary;
        }
    }

    &__error {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: $color-error;
        text-transform: uppercase;
        font-weight: 600;
    }
}