.user-options {
    &__list {
        height: calc(100vh - 6.4rem);
        background-color: $color-tertiary;
        list-style: none;
        display: grid;
        align-items: center;
        text-align: center;
    }

    &__option {
        color: $color-primary;
        padding: 2rem;
        font-size: 2rem;
        text-transform: uppercase;
        transition: 0.4s;
        cursor: pointer;

        &:hover,
        &--active {
            background-color: $color-primary;
            color: $color-tertiary;
        }
    }

    &__error {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: $color-error;
        text-transform: uppercase;
        font-weight: 600;
    }
}